<div class="container col-lg-12">

{{#link-to 'index' tagName='h1' class='logo'}}IronBlogger{{/link-to}}
{{#link-to 'index' tagName='h3' class='logo'}} Home {{/link-to}}
{{#link-to 'posts' tagName='h3' class='logo'}} Posts {{/link-to}}
{{outlet}}

</div>