<div class="container-fluid">
<h4> Posts </h4>
TotalPosts: {{postCount}}
<ul> 
{{#each post in controller}}
<li>{{#link-to 'post' post}}
    {{post.title}}
    {{/link-to}}</li>
    {{/each}}
</ul>
</div>

{{outlet}}
