<div class="container-fluid">

<p class="text-right">TotalPosts: {{postCount}}</p>
<ul> 
{{#each post in controller}}
<li>{{#link-to 'post' post}}
    {{post.title}}
    {{/link-to}}</li>
    {{/each}}
</ul>
</div>

{{outlet}}
